<header>
  <h2 id="page-logo">
    <a href="/">

        Orbot
    </a>
</h2>
  <h2 id="page-title">All Posts</h2>
  <nav>
    <ul id="page-nav">
      <li>
        <a href="/"> All Posts </a>
      </li>
      <li>
        <a href="/create-post"> New Post </a>
      </li>
    </ul>
  </nav>
</header>
