
<%- include('../shared/includes/head' ,{pageTitle: "All Posts"} )%>
<link rel="stylesheet" href="/styles/post-item.css">
</head>
<body>
    <%-include('../shared/includes/header')%>
   <h1>Server Side Erorr</h1>
   <a href="/">Back to Safety</a>
<%- include('../shared/includes/footer')%>